<h2>Edit Book</h2>

<form action="books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <% token_tag %>
<input type="text" name="book[title]" value="<%= @book.title %>">
<input type="submit">
</form>
<br>
<br>
<a href="/books">Go back to the Index</a>
